
.root {
  :global(.SeatFrame) {
    position: relative;
    /* display: flex; */
  }

  :global(.float-right) {
    float: right;
  }

  :global(.float-left) {
    float: left;
  }

  :global(.bet-pos) {
    position: absolute;
    bottom: 10%;
  }

  :global(.bet-right) {
    float: left;
    left: 90%;
    top: 30%;
  }

  :global(.bet-left) {
    float: left;
    left: -25%;
    top: 30%;
  }

  :global(.betTexts) {
    /* text-align: center; */
    color: #FFFFFF;
  }

  :global(.player-action-pos) {
    position: absolute;
    z-index: 10;
    top: -22%;
  }
  
  :global(.action-animation) {
    opacity: 0;
    animation: fadenum 1.5s;
  }

  :global(.p-time-bar) {
    animation: lineburn 10s linear forwards;
  }
  
  :global(.card-glow) {
    animation: slideUp 1.0s infinite alternate;
  }

  :global(.card-animation) {
    animation: winnerPulse 0.5s infinite alternate;
  }
}

@keyframes fadenum {
  0% {opacity: 0; transform-origin:50% 50%;transform:scale(2,2); filter:blur(2px)}
  100% {opacity: 1;transform-origin:50% 50%;transform:scale(1,1); filter:blur(0)}
}

@keyframes lineburn {
  from {width: 100%}
  to {width: 0%}
}
